---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=164%20Rue%20de%20Rivoli,%2075001%20Paris&key=&mode=walking&origins=5%20Avenue%20Anatole%20France,%2075007%20Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "164 Rue de Rivoli, 75001 Paris-1ER-Arrondissement, France" ],
           "origin_addresses" : [ "5 Avenue Anatole France, 75007 Paris, France" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "3.9 km",
                          "value" : 3929
                       },
                       "duration" : {
                          "text" : "49 mins",
                          "value" : 2933
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 22 Mar 2016 21:15:55 GMT
recorded_with: VCR 3.0.1
