---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=164%20Rue%20de%20Rivoli,%2075001%20Paris&key&mode=walking&origins
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [],
           "origin_addresses" : [],
           "rows" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Mon, 21 Mar 2016 07:23:51 GMT
recorded_with: VCR 3.0.1
